/* Menu Bar Item */
.menubarItem {
  width: calc(100% - 32px);
  margin: 8px 16px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 40px;
  align-items: center;
  justify-content: center;
}
.menubarItem > svg {
  stroke: #8a8f98;
}
.menubarItem:nth-last-child(2) {
  margin-top: auto;
}
.menubarItem:hover > svg {
  stroke: #9281F7;
}
/* End Menu Bar Item */