/* Menu Bar */

.menubar {
  display: flex;
  width: 55px;
  height: 100vh;
  flex-direction: column;
}
.menubarItem {
  width: 100%;
  padding: 8px 16px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 55px;
  align-items: center;
}
.menubarItem:hover > svg {
  color: #2D3A99;
}
.menubarItem:hover > span, .menubarItemActive > span {
  color: #000000;
}
.menubarItemActive > svg {
  color: #2D3A99;
}
.menubarItemIcon {
  width: 16px;
  display: flex;
  align-self: center;
}  
.menuBarItemText {
  font-size: 12px;
  display: flex;
  align-self: center;
  margin-top: 5px;
}