/* Menu Bar Item */
.menubarItem {
  width: calc(100% - 32px);
  margin: 8px 16px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 40px;
  align-items: center;
  justify-content: center;
}
.menubarItem:nth-last-child(2) {
  margin-top: auto;
}
.menubarItem:hover {
  background-color: var(--main-menubar-icon-hover-color);
  border-radius: 0.428rem;
}
/* End Menu Bar Item */