/* Side Bar */
.sidebar {
  background-color: var(--dark-jungle);
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 5rem 0;
  position: relative;
  transition: width 0.3s;
  width: 0;
}
.isSidebarOpen {
  transition: width 0.5s;
  width: 376px;
}
.sidebarInnerContainer {
  opacity: 0;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.sidebarInnerContainerOpen {
  opacity: 1;
  transition: opacity;
  transition-delay: 0.5s;
}
.sidebarCloseIcon {
  display: none;
}
.isSidebarOpen .sidebarCloseIcon {
  color: var(--steel);
  cursor: pointer;
  display: block;
  position: absolute;
  right: 16px;
  top: 16px;
  width: 16px;
}
.isSidebarOpen .sidebarCloseIcon:hover {
  color: var(--gray);
}
/* End Side Bar */