/* Go Back */
.backContainer {
  align-items: center;
  color: var(--gray);
  cursor: pointer;
  display: flex;
  margin-bottom: 16px;
}
.backContainer:hover {
  color: var(--white);
}
.backContainer > svg {
  color: var(--white);
}
.backContainer > span {
  font-size: 12px;
  margin-left: 8px;
}
/* End Go Back */

/* Title + Subtitle */
.title {
  color: var(--pink);
  font-weight: 600;
  letter-spacing: -1;
  margin-bottom: 5px;
}
.subtitle {
  color: var(--gray);
  font-size: 12px;
  margin-bottom: 20px;
}
/* Title + Subtitle */