/* Main Styles */
.mainContainer {
  background-color: var(--main-widget-bg-color);
  border-radius: .428rem;
  display: flex;
  margin: 0 24px 24px 0;
  padding: 16px;
  position: relative;
  width: 344px;
  color: var(--main-widget-text-color);
}
/* End Main Styles */

/* Actions */
.actionRemove {
  top: 8px;
  cursor: pointer;
  position: absolute;
  right: 12px;
  width: 12px;
}
.actionEdit {
  top: 3px;
  cursor: pointer;
  position: absolute;
  right: 12px;
  width: 12px;
}
/* End Actions */