/* Main Styles */
.mainContainer {
  background-color: var(--dark-jungle);
  border-radius: .428rem;
  border: 1px solid var(--cyan);
  color: var(--purple);
  display: flex;
  margin: 0 24px 24px 0;
  padding: 16px;
  position: relative;
  width: 344px;
}
/* End Main Styles */

/* Actions */
.actionRemove {
  color: var(--steel);
  cursor: pointer;
  position: absolute;
  right: 12px;
  top: 8px;
  width: 12px;
}
.actionRemove:hover {
  color: var(--gray);
}
.actionEdit {
  cursor: pointer;
  position: absolute;
  right: 12px;
  top: 3px;
  width: 12px;
}
/* End Actions */