.mainContainer {
  display: flex;
  flex-direction: row;
}
.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100vh;
  min-height: 100vh;
}
.main {
  align-content: flex-start;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100vh;
  padding: 5rem 2rem;
  position: relative;
}
.attribution {
  bottom: 10px;
  color: var(--steel);
  position: absolute;
  right: 10px;
}
.attribution > span {
  color: var(--tangerine);
}