.mainContainer {
  display: flex;
  flex-direction: row;
}
.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  height: 100vh;
  flex-grow: 1;
  background-color: var(--main-bg-color);
}
.main {
  padding: 5rem 2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  height: 100vh;
  position: relative;
}
.imageAttribution {
  position: absolute;
  bottom: 10px;
  right: 10px;
}