.mainContainer {
  display: flex;
  flex-direction: row;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  height: 100vh;
  flex-grow: 1;
}

.main {
  padding: 5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  height: 100vh;
  position: relative;
}
