/* External Dependencies */
@import "../node_modules/normalize.css/normalize.css";
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

/* Custom Resets */
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}
input, button {
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
*:focus {
  outline: none;
}
/* End Custom Resets */

/* Global Styles */
* {
  box-sizing: border-box;
}
body {
  background-color: var(--charade);
  font-family: 'PT Sans', sans-serif;
  color: var(--gray);
}
input, select {
  border-radius: 0.428rem;
  border: 1px solid transparent;
  background: var(--gun-powder);
  font-size: 14px;
  color: var(--white);
  margin-bottom: 16px;
}
input {
  width: 100%;
  height: 50px;
  padding: 18px 16px;
}
select::placeholder, input::placeholder {
  color: var(--manatee);
}
input:focus {
  border: 1px solid var(--purple);
}
select {
  padding: 14px 16px;
  appearance: none;
}
button {
  padding: 8px 16px;
  background: var(--purple-transparent);
  color: var(--purple);
  border-radius: 0.428rem;
  cursor: pointer;
  border: 1px solid transparent;
  float: right;
}
button:hover {
  background-color: var(--shadow);
}
.emoji-picker-react .emoji-group:before {
  background: #414558 !important;
}
/* End Global Styles */

/* Color Palette */
:root {
  --charade: #282A35;
  --cyan: #92FFFF;
  --dark-jungle: #1D1E24;
  --gray: #8B8F97;
  --gun-powder: #414558;
  --lime: #8AFF80;
  --manatee: #9599AD;
  --pink: #FF80BF;
  --purple: #9580FF;
  --purple-transparent: rgba(149,128,255,0.1);
  --shadow: hsla(0,0%,100%,.1);
  --steel: #666666;
  --tangerine: #FF9580;
  --topaz: #FFCA80;
  --white: #FFFFFF;
  --yellow: #FFFF80;
}
/* End Color Palette */
